//- inlide file
include ./include/_mixin
- var current = 'gnav2'
extends ./include/_layout

block title 
  - title = '0sssss';
  - description = 'これはディスクリプションです';
  - keywords = 'hogehohe';
  - url = 'hogehohe';
  - path = '../';
  
block meta

block link

block script

block body
  body#top
    +header('./')
    
    .container
      section 
        p ここにセクションが入る

    +footer('./')
    

  
    
    

    







