//////////////////////////////////////////////////
//レイアウト(CSS3)
//////////////////////////////////////////////////
.d-table{display: table;}
.table-midlle{
  display:table-cell;
  vertical-align:middle;
}

.table-fix{
  display: table;
  table-layout: fixed;
  width:100%;
  li{
     display:table-cell;
  vertical-align:middle;
  }
}

.table-lyt{
  display: table-row-group;
  dl{
    display: table-row;
    margin: 0;
    dt,
    dd{
      display: table-cell;
    }
  }
}


//Display: Box;
//////////////////////////////////////////////////
.d-box{
  display: box;
  display: -webkit-box;
  display: -moz-box;
}
.d-box-left{
  box-pack:start;
  -webkit-box-pack:start;
  -moz-box-pack:start;
}
.d-box-right{
  box-pack:end;
  -webkit-box-pack:end;
  -moz-box-pack:end;
}
.d-box-center{
  box-pack:center;
  -webkit-box-pack:center;
  -moz-box-pack:center;
}
.d-box-fix{
  box-pack:justify;
  -webkit-box-pack:justify;
  -moz-box-pack:justify;
}
.d-box-top{
  box-align:start;
  -webkit-box-align:start;
  -moz-box-align:start;
}
.d-box-bottom{
  box-align:end;
  -webkit-box-align:end;
  -moz-box-align:end;
}
.d-box-middle{
  box-align:center;
  -webkit-box-align:center;
  -moz-box-align:center;
}
.d-box-flex{
  box-flex:1;
  -webkit-box-flex:1;
  -moz-box-flex:1;
}


//////////////////////////////////////////////////
//RESET
//////////////////////////////////////////////////
.reset-wrap{margin: 0;padding: 0;overflow: hidden;}
.s-reset{margin: 0;padding: 0;}
.reset-lh,.lh0{line-height: 0;}
.lh1{line-height: 1em;}
.lh-nomal{line-height: 1.2em;}
.bg-none{background: none;}
.w-auto,.column.w-auto{width: auto}

.bold{font-weight: bold;}
.ovh{overflow: hidden;}

//////////////////////////////////////////////////
//SPACE
//////////////////////////////////////////////////

$margin: 15px;
.m-auto{ margin-left:auto;margin-right:auto;}
.m-bottom{margin-bottom: $margin;}
.m-top{margin-top: $margin;}
.m-left{margin-left: $margin;}
.m-right{margin-right: $margin;}

.m-0{ margin:0;}
.m-bottom0{margin-bottom: 0;}
.m-top0{margin-top: 0;}
.m-left0{margin-left:0;}
.m-right0{margin-right: 0;}

$padding :15px;
.p-0{padding: 0;}
.p-bottom{padding-bottom: $padding;}
.p-top{padding-top: $padding;}
.p-left{padding-left: $padding;}
.p-right{padding-right: $padding;}


$space :15px;
.m-space{margin:$space;}
.p-space{padding:$space;}

//////////////////////////////////////////////////
//BORDER
//////////////////////////////////////////////////
.border{border: 1px solid $border;}
.border-top{border-top: 1px solid $border;}
.border-bottom{border-bottom: 1px solid $border;}
.border-left{border-left: 1px solid $border;}
.border-radiusright{border-right: 1px solid $border;}

.border-bold{border: 2px solid $border;}
.border-bold-top{border-top: 2px solid $border;}
.border-bold-bottom{border-bottom: 2px solid $border;}
.border-bold-left{border-left: 2px solid $border;}
.border-bold-right{border-right: 2px solid $border;}


//////////////////////////////////////////////////
//FONTS
//////////////////////////////////////////////////
.font-xlrg{font-size: $fontXlrg;}
.font-lrg{font-size: $fontLrg;}
.font-nml{font-size: $fontNml;}
.font-sml{font-size: $fontSml;}
.font-xsml{font-size: $fontXsml;}

.web_font{font-family: 'Electrolize', sans-serif;}

//////////////////////////////////////////////////
//ADD STYLE
//////////////////////////////////////////////////
.img-w100,.w100{width: 100%;}
.img-wmax{max-width: 100%;}

.t-center{text-align: center;}
.t-left{text-align: left;}
.t-right{text-align: right;}

.fl-left{float: left;}
.fl-right{float: right;}

.pointer{cursor:pointer;}
.inedent{text-indent: -1em; padding-left: 1em;}

.relative,pos-r{ position: relative;}
.absolute,pos-a{position:absolute;}
.fixed,pos-f{position:fixed;}
.pos-left{left:0}
.pos-right{right:0}
.pos-top{top:0}
.pos-bottom{bottom:0}
.pos-center{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* box properties */
.clearfix {
  display: block;
  *zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both;
    content: ".";
  }
}

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.ellipsis {
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.indent{
  padding: -1em;
  text-indent: 1em;
}
.notes{
  font-size: $fontXsml;
  line-height: 1.3em;
  color: $gray;
  > li{@extend .indent;}
}

.hovers:hover,
.hovers:hover img {
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  transition: 0.5s;
}

////////////////////////////////////////
//Color
///////////////////////////////////////

//文字色
////////////////////////////////////
.text-main,
.text-main a{//メインカラー用
             color: $main;
             &:hover{
               color: $main;
             }
}
.text-accent,
.text-accent a{//アクセントカラー用
               color: $accent;
               &:hover{
                 color: $accent;
               }
}
.text-notice,
.text-notice a{//注意用
               color: $red;
               &:hover{
                 color: $red;
               }
}

//基本文字色
////////////////////////////////////
.text-black{
  color: $black;
  a,a:hover{
    color: $black;
  }
}
.text-white{
  color: $white;
  a,a:hover{
    color: $white;
  }
}
.text-white{
  color: $white;
  a,a:hover{
    color: $white;
  }
}
.text-gray-light{
  color: $grayLight;
  a,a:hover{
    color: $grayLight;
  }
}
.text-gray{
  color: $gray;
  a,a:hover{
    color: $gray;
  }
}
.text-blue{
  color: $blue;
  a,a:hover{
    color: $blue;
  }
}
.text-green{
  color: $green;
  a,a:hover{
    color: $green;
  }
}
.text-red{
  color: $red;
  a,a:hover{
    color: $red;
  }
}
.text-yellow{
  color: $yellow;
  a,a:hover{
    color: $yellow;
  }
}
.text-orange{
  color: $orange;
  a,a:hover{
    color: $orange;
  }
}
.text-pink{
  color: $pink;
  a,a:hover{
    color: $pink;
  }
}
.text-purple{
  color: $purple;
  a,a:hover{
    color: $purple;
  }
}

//背景色
////////////////////////////////////
.bg-color{
  background: $link;
  @extend .text-white;
}
.bg-main{
  background: $main;
}
.bg-accent{
  background: $accent;
}

.bg-black{
  background: $white;
 @extend .text-white;
}
.bg-white{
  background: $white;
  @extend .text-black;
}
.bg-gray{
  background: $gray;
}
.bg-gray-light{
  background: $grayLight;
}


////////////////////////////////////////
//Responsive
///////////////////////////////////////
@media screen and (min-width: $break-points-tbl) {
  //PC
  .display-block-large{
    display: block;
  }
  .display-inline-large{
    display: inline ;
  }
  .display-none-large{
    display: none !important;
  }
  .text-left-large{
    text-align:left;
  }
  .text-right-large{
    text-align:right;
  }
  .text-center-large{
    text-align:center;
  }
  .text-center-large{
    width: 100%;
  }
  .width-50-large{
    width: 50% !important;
  }
  .float-none-large{
    float: none !important;
  }
  .float-left-large{
    float: left !important;
  }
  .float-right-large{
    float: right !important;
  }
  .margin-0-large{
    margin: 0;
  }
  .margin-top0-large{
    margin-top: 0;
  }
  .margin-bottom0-large{
    margin-bottom: 0;
  }
  .margin-left0-large{
    margin-left: 0;
  }
  .margin-right0-large{
    margin-right: 0;
  }
  .margin-top-large{
    margin-top: 1em;
  }
  .margin-bottom-large{
    margin-bottom: 1em;
  }
  .margin-left-large{
    margin-left: 1em;
  }
  .margin-right-large{
    margin-right: 1em;
  }
  .padding-0-large{
    padding: 0;
  }
  .padding-top0-large{
    padding-top: 0;
  }
  .padding-bottom0-large{
    padding-bottom: 0;
  }
  .padding-left0-large{
    padding-left: 0;
  }
  .padding-right0-large{
    padding-right: 0;
  }
  .padding-top-large{
    padding-top: 1em;
  }
  .padding-bottom-large{
    padding-bottom: 1em;
  }
  .padding-left-large{
    padding-left: 1em;
  }
  .padding-right-large{
    padding-right: 1em;
  }
}


@media screen and (max-width: $break-points-tbl) {
  .display-block-medium{
    display: block !important;
  }
  .display-inline-medium{
    display: inline !important;
  }
  .display-none-medium{
    display: none !important;
  }
  .text-left-medium{
    text-align:left !important;
  }
  .text-right-medium{
    text-align:right !important;
  }
  .text-center-medium{
    text-align:center !important;
  }
  .text-center-medium{
    width: 100% !important;
  }
  .width-50-small{
    width: 50% !important;
  }
  .float-none-medium{
    float: none !important;
  }
  .float-left-medium{
    float: left !important;
  }
  .float-right-medium{
    float: right !important;
  }

  .margin-0-medium{
    margin: 0;
  }
  .margin-top0-medium{
    margin-top: 0;
  }
  .margin-bottom0-medium{
    margin-bottom: 0;
  }
  .margin-left0-medium{
    margin-left: 0;
  }
  .margin-right0-medium{
    margin-right: 0;
  }
  .margin-top-medium{
    margin-top: 1em;
  }
  .margin-bottom-medium{
    margin-bottom: 1em;
  }
  .margin-left-medium{
    margin-left: 1em;
  }
  .margin-right-medium{
    margin-right: 1em;
  }
  .padding-0-medium{
    padding: 0;
  }
  .padding-top0-medium{
    padding-top: 0;
  }
  .padding-bottom0-medium{
    padding-bottom: 0;
  }
  .padding-left0-medium{
    padding-left: 0;
  }
  .padding-right0-medium{
    padding-right: 0;
  }
  .padding-top-medium{
    padding-top: 1em;
  }
  .padding-bottom-medium{
    padding-bottom: 1em;
  }
  .padding-left-medium{
    padding-left: 1em;
  }
  .padding-right-medium{
    padding-right: 1em;
  }

}

@media screen and (max-width: $break-point-sp) {
  .display-block-small{
    display: block !important;
  }
  .display-inline-small{
    display: inline !important;
  }
  .display-none-small{
    display: none !important;
  }
  .text-left-small{
    text-align:left !important;
  }
  .text-right-small{
    text-align:right !important;
  }
  .text-center-small{
    text-align:center !important;
  }
  .width-100-small{
    width: 100% !important;
  }
  .width-50-small{
    width: 50% !important;
  }

  .margin-0-small{
    margin: 0;
  }
  .margin-top0-small{
    margin-top: 0;
  }
  .margin-bottom0-small{
    margin-bottom: 0;
  }
  .margin-left0-small{
    margin-left: 0;
  }
  .margin-right0-small{
    margin-right: 0;
  }
  .margin-top-small{
    margin-top: 1em;
  }
  .margin-bottom-small{
    margin-bottom: 1em;
  }
  .margin-left-small{
    margin-left: 1em;
  }
  .margin-right-small{
    margin-right: 1em;
  }

  .float-none-small{
    float: none !important;
  }
  .float-left-small{
    float: left !important;
  }
  .float-right-small{
    float: right !important;
  }
  .padding-0-small{
    padding: 0 !important;
  }
  .padding-top0-small{
    padding-top: 0 !important;
  }
  .padding-bottom0-small{
    padding-bottom: 0 !important;
  }
  .padding-left0-small{
    padding-left: 0 !important;
  }
  .padding-right0-small{
    padding-right: 0 !important;
  }

  .padding-top-small{
    padding-top: 1em !important;
  }
  .padding-bottom-small{
    padding-bottom: 1em !important;
  }
  .padding-left-small{
    padding-left: 1em !important;
  }

  .padding-right-small{
    padding-right: 1em !important;
  }
}
