@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
/*
SASS Variables
*/
/* Background colors */
/*
SASS mixin
*/
@-webkit-keyframes cnt-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cnt-blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cnt-horizontal {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes cnt-horizontal {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes cnt-vertical {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes cnt-vertical {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*
SASS Variables
*/
/* Background colors */
/* ==========================================================================
   Foundation
   ========================================================================== */
/* Reset //html, body, div, … { … }
   ----------------------------------------------------------------- */
/* Base //body { … }
   ----------------------------------------------------------------- */
html, body {
  color: #3F3F3F;
  font-size: 16px;
  font-size: 1rem;
  font-family: "HG明朝B", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  letter-spacing: 0.1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-size: 1rem;
  font-family: "HG明朝B", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 16px;
  font-size: 1rem;
  ont-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  ont-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

p {
  line-height: 1.6;
}

a {
  color: #3F3F3F;
}

a:hover {
  color: #3F3F3F;
  text-decoration: none;
}

/* ==========================================================================
   Layout
   ========================================================================== */
/* Header //#header { … }
   ----------------------------------------------------------------- */
/* Main #main { … }
   ----------------------------------------------------------------- */
/* ==========================================================================
   Object
   ========================================================================== */
/* Component
// 再利用できるパターンとして、小さな単位のモジュール
   ----------------------------------------------------------------- */
/* Project
//プロジェクト固有のパターンであり、いくつかのComponentと、それに該当しない要素によって構成されるもの
   ----------------------------------------------------------------- */
/* Utitlity
//わずかなスタイルの調整のための便利クラス・例外クラス
   ----------------------------------------------------------------- */
.d-table {
  display: table;
}

.table-midlle {
  display: table-cell;
  vertical-align: middle;
}

.table-fix {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-fix li {
  display: table-cell;
  vertical-align: middle;
}

.table-lyt {
  display: table-row-group;
}

.table-lyt dl {
  display: table-row;
  margin: 0;
}

.table-lyt dl dt,
.table-lyt dl dd {
  display: table-cell;
}

.reset-wrap {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.s-reset {
  margin: 0;
  padding: 0;
}

.reset-lh, .lh0 {
  line-height: 0;
}

.lh1 {
  line-height: 1em;
}

.lh-nomal {
  line-height: 1.2em;
}

.bg-none {
  background: none;
}

.w-auto, .column.w-auto {
  width: auto;
}

.bold {
  font-weight: bold;
}

.ovh {
  overflow: hidden;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.m-bottom {
  margin-bottom: 15px;
}

.m-top {
  margin-top: 15px;
}

.m-left {
  margin-left: 15px;
}

.m-right {
  margin-right: 15px;
}

.m-0 {
  margin: 0;
}

.m-bottom0 {
  margin-bottom: 0;
}

.m-top0 {
  margin-top: 0;
}

.m-left0 {
  margin-left: 0;
}

.m-right0 {
  margin-right: 0;
}

.p-0 {
  padding: 0;
}

.p-bottom {
  padding-bottom: 15px;
}

.p-top {
  padding-top: 15px;
}

.p-left {
  padding-left: 15px;
}

.p-right {
  padding-right: 15px;
}

.m-space {
  margin: 15px;
}

.p-space {
  padding: 15px;
}

.border {
  border: 1px solid #797979;
}

.border-top {
  border-top: 1px solid #797979;
}

.border-bottom {
  border-bottom: 1px solid #797979;
}

.border-left {
  border-left: 1px solid #797979;
}

.border-radiusright {
  border-right: 1px solid #797979;
}

.border-bold {
  border: 2px solid #797979;
}

.border-bold-top {
  border-top: 2px solid #797979;
}

.border-bold-bottom {
  border-bottom: 2px solid #797979;
}

.border-bold-left {
  border-left: 2px solid #797979;
}

.border-bold-right {
  border-right: 2px solid #797979;
}

.font-xlrg {
  font-size: 1.8rem;
}

.font-lrg {
  font-size: 1.4rem;
}

.font-nml {
  font-size: 1rem;
}

.font-sml {
  font-size: 0.8rem;
}

.font-xsml {
  font-size: 0.5rem;
}

.web_font {
  font-family: 'Electrolize', sans-serif;
}

.img-w100, .w100 {
  width: 100%;
}

.img-wmax {
  max-width: 100%;
}

.t-center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.fl-list {
  overflow: hidden;
}

.fl-list li {
  float: left;
}

.pointer {
  cursor: pointer;
}

.inedent {
  text-indent: -1em;
  padding-left: 1em;
}

.relative, pos-r {
  position: relative;
}

.absolute, pos-a {
  position: absolute;
}

.fixed, pos-f {
  position: fixed;
}

.pos-left {
  left: 0;
}

.pos-right {
  right: 0;
}

.pos-top {
  top: 0;
}

.pos-bottom {
  bottom: 0;
}

.pos-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* box properties */
.clearfix {
  display: block;
  *zoom: 1;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: ".";
}

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.ellipsis {
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.indent, .notes > li {
  padding: -1em;
  text-indent: 1em;
}

.notes {
  font-size: 0.5rem;
  line-height: 1.3em;
  color: #555;
}

.hovers:hover,
.hovers:hover img {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}

.text-main, .text-main a {
  color: #66CC99;
}

.text-main:hover, .text-main a:hover {
  color: #66CC99;
}

.text-accent, .text-accent a {
  color: #66CC99;
}

.text-accent:hover, .text-accent a:hover {
  color: #66CC99;
}

.text-notice, .text-notice a {
  color: #9d261d;
}

.text-notice:hover, .text-notice a:hover {
  color: #9d261d;
}

.text-black, .bg-white {
  color: #000;
}

.text-black a, .bg-white a, .text-black a:hover, .bg-white a:hover {
  color: #000;
}

.text-white, .bg-black {
  color: #fff;
}

.text-white a, .bg-black a, .text-white a:hover, .bg-black a:hover {
  color: #fff;
}

.text-white, .bg-black {
  color: #fff;
}

.text-white a, .bg-black a, .text-white a:hover, .bg-black a:hover {
  color: #fff;
}

.text-gray-light {
  color: #999;
}

.text-gray-light a, .text-gray-light a:hover {
  color: #999;
}

.text-gray {
  color: #555;
}

.text-gray a, .text-gray a:hover {
  color: #555;
}

.text-blue {
  color: #049cdb;
}

.text-blue a, .text-blue a:hover {
  color: #049cdb;
}

.text-green {
  color: #46a546;
}

.text-green a, .text-green a:hover {
  color: #46a546;
}

.text-red {
  color: #9d261d;
}

.text-red a, .text-red a:hover {
  color: #9d261d;
}

.text-yellow {
  color: #ffc40d;
}

.text-yellow a, .text-yellow a:hover {
  color: #ffc40d;
}

.text-orange {
  color: #f89406;
}

.text-orange a, .text-orange a:hover {
  color: #f89406;
}

.text-pink {
  color: #c3325f;
}

.text-pink a, .text-pink a:hover {
  color: #c3325f;
}

.text-purple {
  color: #7a43b6;
}

.text-purple a, .text-purple a:hover {
  color: #7a43b6;
}

.bg-link {
  background: #66CC99;
}

.bg-main {
  background: #66CC99;
}

.bg-accent {
  background: #66CC99;
}

.bg-black {
  background: #fff;
}

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #555;
}

.bg-gray-light {
  background: #999;
}

.cnt-anm-blinking {
  -webkit-animation: cnt-blink 1.5s ease-in-out infinite alternate;
  animation: cnt-blink 1.5s ease-in-out infinite alternate;
}

.cnt-anm-horizontal {
  -webkit-animation: cnt-horizontal 1s ease-in-out infinite alternate;
          animation: cnt-horizontal 1s ease-in-out infinite alternate;
}

.cnt-anm-vertical {
  -webkit-animation: cnt-vertical 1s ease-in-out infinite alternate;
          animation: cnt-vertical 1s ease-in-out infinite alternate;
}

/*
# Bourbonの説明

ここにコメントとか説明入れたりすると便利らしい！

`.inner_text`で文字を白くする

```
<div class="test">
  <div class="wrapper">
      <div class="left">左のコンテンツ</div>
      <div class="right">右のコンテンツ</div>
  </div>
  <div class="wrapper">
      <div class="box">箱のコンテンツ１</div>
      <div class="box">箱のコンテンツ２</div>
      <div class="box">箱のコンテンツ３</div>
      <div class="box">箱のコンテンツ４</div>
      <div class="box">箱のコンテンツ5</div>
      <div class="box">箱のコンテンツ6</div>
      <div class="box">箱のコンテンツ7</div>
      <div class="box">箱のコンテンツ8</div>
  </div>
</div>
```

サブの内容を入れる
```
<div class="test">
  <div class="wrapper">
          <div class="none">
              <div class="boxs">箱のコンテンツ１</div>
              <div class="boxs">箱のコンテンツ２</div>
              <div class="boxs">箱のコンテンツ３</div>
          </div>
      </div>
  </div>
</div>
```
*/
