@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
/*
# Bourbonの説明
 
ここにコメントとか説明入れたりすると便利らしい！
 
`.inner_text`で文字を白くする
 
```
<div class="test">
  <div class="wrapper">
      <div class="left">左のコンテンツ</div>
      <div class="right">右のコンテンツ</div>
  </div>
  <div class="wrapper">
      <div class="box">箱のコンテンツ１</div>
      <div class="box">箱のコンテンツ２</div>
      <div class="box">箱のコンテンツ３</div>
      <div class="box">箱のコンテンツ４</div>
      <div class="box">箱のコンテンツ5</div>
      <div class="box">箱のコンテンツ6</div>
      <div class="box">箱のコンテンツ7</div>
      <div class="box">箱のコンテンツ8</div>
  </div>
</div>
```

サブの内容を入れる
```
<div class="test">
  <div class="wrapper">
          <div class="none">
              <div class="boxs">箱のコンテンツ１</div>
              <div class="boxs">箱のコンテンツ２</div>
              <div class="boxs">箱のコンテンツ３</div>
          </div>
      </div>
  </div>
</div>
```
*/
.test {
  padding-top: 10px;
  padding-bottom: 10px;
}

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.wrapper .left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 2.35765%;
  text-align: center;
  background: #F44336;
}

.wrapper .left:last-child {
  margin-right: 0;
}

.wrapper .right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 2.35765%;
  text-align: center;
  background: #2196F3;
}

.wrapper .right:last-child {
  margin-right: 0;
}

.wrapper .box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 10px 2.35765% 20px;
  background: #9E9E9E;
  margin-bottom: 20px;
}

.wrapper .box:last-child {
  margin-right: 0;
}

.wrapper .box:nth-child(4n) {
  margin-right: 0;
}

.wrapper .box:nth-child(4n+1) {
  clear: left;
}

.wrapper .none {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.wrapper .boxs {
  display: table-cell;
  width: 33.33333%;
  background: #795548;
  padding: 2.35765%;
}
