html, body {
  font-size: 1rem;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

div, ul, dl, dt, dd, ul, li {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.6rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

a {
  text-decoration: underline;
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  text-decoration: none;
}

a i {
  margin-right: 0.5rem;
}
